<launch>
  <node pkg="romina2" type="pilot" name="pilot">
    <remap to="/cmd_vel_mux/input/teleop" from="/cmd_vel"/>
  </node>
  <node pkg="romina2" type="cam_broadcast.py" name="cam_frame"/>
  
  <node pkg="robot_pose_fslam" type="robot_pose_fslam" name="slam">
    <param name="robotFrame" value="robot"/>
  </node>
</launch>
